@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    @apply h-full bg-gray-900;/* Ensure the body takes the full height and has your background color */
    @apply overflow-x-hidden;
}
.absolute {
    position: absolute;
}

.top-2 {
    top: 0.5rem;
    /* Adjust the top margin */
}

.right-2 {
    right: 0.5rem;
    /* Adjust the right margin */
}

.bg-red-500 {
    background-color: #f56565;
}

.text-white {
    color: white;
}

.rounded-full {
    border-radius: 9999px;
}

.p-1 {
    padding: 0.25rem;
}


